<% if (renderizar) { %>
<div class="input-field col s12 m<%= ancho %>" orden="<%= orden %>">
  <input type="text" id="<%= id %>" class="autocomplete-cie10 <%= validar %>">
  <label for="<%= id %>"><b><%= nombre %></b><%- value != undefined ? (' ' + value) : '' %></label>
</div>
<% } else { %>
_$div class="input-field col s12 m_$%= ancho %$_" orden="_$%= orden %$_"$_
  _$input type="text" id="_$%= id %$_" class="autocomplete-cie10 _$%= validar %$_"$_
  _$label for="_$%= id %$_"$__$b$__$%= nombre %$__$/b$__$%- value != undefined ? (' ' + value) : '' %$__$/label$_
_$/div$_
<% } %>
