<!DOCTYPE html>
<html lang="en">
  <% 
  sede = remision.Sede
  paciente = remision.Paciente
  %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> <%= paciente.nombre %> </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>

  <style>
  </style>
</head>



<section id="content">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel">
            <div id="autorizacion">
                <% let logoSede = "https://cdnmetamedic.s3.amazonaws.com/images/consultorio.jpg"
                if (sede.logo) {
                    logoSede = sede.logo.location
                }
              %>
                <div class="row">
                  <div class="col 4">
                    <img src="<%= logoSede %>" alt="Logo" style="max-width: 14rem;">
                  </div><br>
                </div>
                <h5 style="text-align: center;">
                    
                   <b>Nombre : </b> <%= sede.nombre %> <br>
                   <b>Dirección : </b> <%= sede.direccion %><br>
                   <b>Telefono : </b><%= sede.telefono %><br>
                   <b>Email : </b><%= sede.email %><br>
                 
                </h5>
            </div>
              <h3><u>Datos del Paciente</u></h3><br><br>
              <div class="row">
                <div class="col 6">
                  <p class="text-justify"><b>Nombre</b><br><%= paciente.nombre %> <%= paciente.apellido %></p>
                  <div>
                      <p class="text-justify"><b>Dirección</b><br>
                        <%= paciente.direccion %>
                      </p>
                  </div>
                  <div class="">
                    <p class="text-justify"><b>Genero de Nacimiento</b><br><%= paciente.genero_nacimiento %></p>
                  </div>
                  <div class="">
                    <p class="text-justify"><b>Eps</b><br><%= paciente.eps %></p>
                  </div>
                </div>
                <div class="col 6">
                  <p class="text-justify"><b>Identificación</b><br><%= paciente.tipo_id %>-<%= paciente.username %></p>
                  <div class="">
                    <p class="text-justify"><b>Fecha de
                        Nacimiento</b><br><%= paciente.dd_nacimiento %>/<%= paciente.mm_nacimiento %>/<%= paciente.yyyy_nacimiento %>
                    </p>
                  </div>
                  <div class="">
                    <p class="text-justify"><b>Correo Electrónico</b><br><%= paciente.email %></p>
                  </div>
                  <div class="">
                    <p class="text-justify"><b>Número de Teléfono</b><br>+<%= paciente.telefono %></p>
                  </div>
                </div>
              </div><br>
              <h3><u>Remitido A:</u></h3><br>
              <div class="row">
                <% for(i=0;i< remision.cupsArray.length; i++){
                  name = remision.cupsArray[i]; %>
                  <%= name %><br>
                <% } %>
              </div>
              <h3><u>Motivo De Remisión:</u></h3><br>
              <div class="row">
                <%= remision.motivoRemision %>

              </div><br>
              <h3><u>Diagnóstico Principal: </u></h3> <%= remision.diagnosticoPrincipalRemi %><br><br>
              <h3><u>Diagnóstico secundario: </u></h3> <%= remision.diagnosticoSegundarioRemi %><br><br>
              <h3><u>Observaciones:</u></h3><br>
              <div class="row">
                <%= remision.Observaciones %>

              </div><br>

            <div class="row">
                <div class="col s2">
                <p style="text-align: center;"><img src="<%= remision.Profesional.foto_firma != null ? remision.Profesional.foto_firma.location : 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Imagen_no_disponible.svg/600px-Imagen_no_disponible.svg.png' %>"  width="120" height="80" ></p>
                <p style="text-align: center;"><%= remision.Profesional.nombre %> <%= remision.Profesional.apellido %><br><%= remision.Profesional.profesion %><br><%= remision.Profesional.especialidad %><br><b>T.P </b><%= remision.Profesional.tarjeta_profesional %><br></p>
            </div>
         </div><br><br> 
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  
    window.onload = function () {
      window.print();
    }
</script>