<% include  ../../view_distribution/top1.ejs%>
<% include  ../../view_distribution/top2.ejs%>
<% include  ../../view_distribution/sidebar-left.ejs%>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h3 class="breadcrumbs-title"><%= title%> De <%= user.nombre %> - <%= sede.nombre%> 
                  
                </h3>
                <!-- <%= user.Sedes[0].nombre %> -->
                
                    <table id="example" class="sampleTable bordered highlight responsive-table centered">
                        <thead class="">
                            <tr style="color: #039be5;">
                                <th>Identificación</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Nombre de Usuario</th>
                                <th>Rol</th>
                                <th><i class="material-icons">settings</i></th>
                            </tr>
                        </thead>
                        <tbody id="tabla_usuarios">

                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>
    


<% include  ../../view_distribution/sidebar-right.ejs%>
<% include  ../../view_distribution/bot1.ejs%>

<script>
   

    $(document).ready(function () {


        for (var n = 0; n < 1000; n++) {
            var row = $("<tr>");
            $("#example")
            .find("thead th")
            row.appendTo($("#example").find("tbody"));
        }
        $("#example").fancyTable({
			sortColumn: 0,
            pagination: true,
            perPage: 5,
            globalSearch: true
		});
        var practicante = <%- JSON.stringify(practicante) %>;
        const sede = <%- JSON.stringify(sede) %>;
        console.log(sede)
        var mostrar = []
         for(i=0;i < practicante.length; i++){ 
                const practi = practicante[i]; 
                $("#tabla_usuarios").append(`
                                 <tr>
                                 <td> ${ practi.username} </td>
                                 <td> ${ practi.nombre} </td>
                                 <td> ${ practi.apellido} </td>
                                 <td style="text-transform: lowercase;"> ${ practi.usuario} </td>
                                 <td> Practicante </td>
                                 <td>
                                    <button data-target="modal_paciente_${practi._id}" class="btn edit_data1_${practi._id} modal-trigger waves-effect btn-flat col  s10 btn waves-effect primary waves-light">Abrir</button>
                                    
                                    <div class="modal" id="modal_paciente_${practi._id}" style="width: 90%;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="row">
                                                </div>
                                              </div>  
                                              <div>
                                                  <h3>Pacientes De ${ practi.nombre}</h3>
                                                  <table id="example" class="sampleTable bordered highlight responsive-table centered">
                                                                        <thead class="">
                                                                                <tr>
                                                                                    <th>Nombre</th>
                                                                                    <th>Apellido</th>
                                                                                    <th>Nombre de Usuario</th>
                                                                                    <th>Email</th>
                                                                                    <th><i class="material-icons">settings</i></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="tabla_p_${practi._id}">
                                                                           
                                                                               

                                                                            </tbody>
                                                                        </table>
                                                  
                                              </div>
                                        </div>   
                                    </div>     
                                 </td>
                                 </tr>`)
                                 $(document).on('click', `.edit_data1_${practi._id}`, function () {
                                        $('.modal').modal();
                                        $(`#modal_paciente_${practi._id}`).openModal;
                                        console.log(practi._id)
                                        $(`#tabla_p_${practi._id} tr`).remove();
                                        $.ajax({
                                                                                            url: `/api/pacientes/getAllPacienteSup/${sede._id}/${practi._id}`,
                                                                                                success: function (response) {
                                                                                                    
                                                                                                            for (let i = 0; i < response.length; i++) {
                                                                                                                const pacient = response[i];
                                                                                                                console.log(pacient)
                                                                                                                $(`#tabla_p_${practi._id}`).append(`
                                                                                                                
                                                                                                                <tr>
                                                                                                                    <td> ${pacient.nombre} </td>
                                                                                                                    <td> ${pacient.apellido} </td>
                                                                                                                    <td> ${pacient.username} </td>
                                                                                                                    <td> ${pacient.email} </td>
                                                                                                                    <td>
                                                                                                                        <a href="/pacientes/ver?id=${pacient._id}" class="waves-effect blue darken-1 waves-light btn"><i
                                                                                                                            class="material-icons left">remove_red_eye</i>Ver</a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                `)
                                                                                                             
                                                                                                            }
                                                                                                        }
                                                                                 })    
                                                                                                                     
                                    });
        } 
        


      

        function rWord(r){
            var t,n="bcdfghjklmnpqrstvwxyz",a="aeiou",
            e=function(r){
                return Math.floor(Math.random()*r)},
                o="";
                r=parseInt(r,10),
                n=n.split(""),
                a=a.split("");
                for(t=0;t<r/2;t++){
                    var l=n[e(n.length)],
                    p=a[e(a.length)];
                    o+=0===t ? l.toUpperCase() : l,
                    o+=2*t<r-1?
                    p:""
                }
            return o
        }

        
    })
</script>
<% include  ../../view_distribution/bot2.ejs%>