<% include  ../../view_distribution/top1.ejs%>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
<style>
    input:disabled, textarea:disabled {
        color: #303030 !important
    }
</style>
<% include  ../../view_distribution/top2.ejs%>
<% include  ../../view_distribution/sidebar-left.ejs%>
<%
    let servicio = Factura.Cita.Servicio
    const paciente = Factura.Paciente[0]

    if (servicio == null) {
        servicio = Object({})
        servicio.cups_codigo = 'Servicio Original Eliminado'
        servicio.cups_nombre = 'Servicio Original Eliminado'
    }
%>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h3 class="breadcrumbs-title"><%= title%>
                    <% if (Factura.cerrado == true) { %>
                        <a href="/historias-clinicas/impresion?historia=<%= Factura._id %>" target="_blank"
                        class="btn-floating btn-large waves-effect waves-light right green"><i class="material-icons">print</i></a>
                        <% } %>
                    </h3>
                    <ul class="collapsible popout" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">assignment_ind</i>
                                Datos Personales del Paciente
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <input disabled id="user_id" type="hidden" value="<%= paciente._id%>"
                                        class="validate">

                                    <div class="input-field col m6 s12">
                                        <input disabled id="primer_nombre" type="text" class="validate"
                                            value="<%= paciente.primer_nombre%>" >
                                        <label for="primer_nombre">Primer Nombre <span
                                                style="color:red">*</span></label>
                                    </div>
                                    <div class="input-field col m6 s12">
                                        <input disabled id="segundo_nombre" type="text" class="validate"
                                        value="<%= paciente.segundo_nombre || " " %>" >
                                        <label for="segundo_nombre">Segundo Nombre</label>
                                    </div>
                                    <div class="input-field col m6 s12">
                                        <input disabled id="primer_apellido" type="text" class="validate"
                                            value="<%= paciente.primer_apellido%>" >
                                        <label for="primer_apellido">Primer Apellido <span
                                                style="color:red">*</span></label>
                                    </div>
                                    <div class="input-field col m6 s12">
                                        <input disabled id="segundo_apellido" type="text" class="validate"
                                            value="<%= paciente.segundo_apellido%>" >
                                        <label for="segundo_apellido">Segundo Apellido <span
                                                style="color:red">*</span></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col m5 s12">
                                        <select disabled id="tipo_id" class="validate select browse-select">
                                            <option value="" disabled>Elige una opción</option>
                                            <option value="CC" <%- paciente.tipo_id == 'CC' ? 'selected' : '' %> >Cédula De Ciudadanía</option>
                                            <option value="CE" <%- paciente.tipo_id == 'CE' ? 'selected' : '' %> >Cédula De Extranjería</option>
                                            <option value="CD" <%- paciente.tipo_id == 'CD' ? 'selected' : '' %> >Carné Diplomático</option>
                                            <option value="PA" <%- paciente.tipo_id == 'PA' ? 'selected' : '' %> >Pasaporte</option>
                                            <option value="PE" <%- paciente.tipo_id == 'PE' ? 'selected' : '' %> >Permiso Especial De Permanencia</option>
                                            <option value="RC" <%- paciente.tipo_id == 'RC' ? 'selected' : '' %> >Registro Civil</option>
                                            <option value="TI" <%- paciente.tipo_id == 'TI' ? 'selected' : '' %> >Tarjeta De Identidad</option>
                                            <option value="CN" <%- paciente.tipo_id == 'CN' ? 'selected' : '' %> >Certificado De Nacido Vivo</option>
                                            <option value="AS" <%- paciente.tipo_id == 'AS' ? 'selected' : '' %> >Adulto Sin Identificar</option>
                                            <option value="MS" <%- paciente.tipo_id == 'MS' ? 'selected' : '' %> >Menor Sin Identificar</option>
                                        </select>
                                        <label>Tipo de Identifiación: <span
                                                style="color:red">*</span></label>
                                    </div>
                                    <div class="input-field col m4 s12">
                                        <input disabled id="identificacion" type="text" value="<%= paciente.username %>"
                                            class="validate">
                                        <label for="identificacion">Número de Identifiación <span
                                                style="color:red">*</span></label>
                                    </div>
                                    <div class="input-field col m3 s12">
                                        <select disabled id="estado_civil" class="validate select browse-select">
                                            <option value="" disabled selected>Elige una opción</option>
                                            <option value="soltero" <%- paciente.estado_civil == 'soltero' ? 'selected' : '' %> >Soltero(a)</option>
                                            <option value="casado" <%- paciente.estado_civil == 'casado' ? 'selected' : '' %> >Casado(a)</option>
                                            <option value="union_libre" <%- paciente.estado_civil == 'union_libre' ? 'selected' : '' %> >Unión libre</option>
                                            <option value="separado" <%- paciente.estado_civil == 'separado' ? 'selected' : '' %> >Separado(a)</option>
                                            <option value="divorciado" <%- paciente.estado_civil == 'divorciado' ? 'selected' : '' %> >Divorciado(a)</option>
                                            <option value="viudo" <%- paciente.estado_civil == 'viudo' ? 'selected' : '' %> >Viudo(a)</option>
                                        </select>
                                        <label>Estado Civil: <span style="color:red">*</span></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col m8 s12">
                                        <input value="<%= paciente.email %>" disabled id="email" type="email" class="validate">
                                        <label for="email">Email <span style="color:red">*</span></label>
                                    </div>
                                    <div class="input-field col m4 s12">
                                        <input disabled id="phone" name="phone" type="tel"
                                            value="+<%= paciente.telefono %>">
                                        <!-- <label for="phone">Teléfono: </label> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col m2 s12">
                                        <input disabled type="text" id="fecha_nacimiento" class="datepicker"
                                            value="<%=paciente.dd_nacimiento%>/<%=paciente.mm_nacimiento%>/<%=paciente.yyyy_nacimiento%>">
                                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                                    </div>
                                    <!-- <div class="input-field col m2 s12">
                                        <input disabled id="edad" type="text" class="validate" value="0 años"
                                            disabled>
                                        <label for="edad">Edad</label>
                                    </div> -->
                                    <div class="input-field col m3 s12">
                                        <select disabled id="genero" class="validate select browse-select">
                                            <option value="" disabled >Elige una opción</option>
                                            <option value="Femenino" <%- paciente.genero_nacimiento == 'Femenino' ? 'selected' : '' %>>Femenino</option>
                                            <option value="Masculino" <%- paciente.genero_nacimiento == 'Masculino' ? 'selected' : '' %>>Masculino</option>
                                            <option value="Otro" <%- paciente.genero_nacimiento == 'Otro' ? 'selected' : '' %>>Otro</option>
                                        </select>
                                        <label>Género de Nacimiento</label>
                                    </div>
                                    <div class="input-field col m5 s12">
                                        <input disabled id="ocupacion" type="text" class="validate" value="<%= paciente.ocupacion %>">
                                        <label for="ocupacion">Ocupación: <span
                                                style="color:red">*</span></label>
                                    </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">description</i>
                            Datos del Servicio
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    <input disabled id="cups_codigo" type="text" class="validate"
                                        value="<%= Factura.cups_codigo %>">
                                    <label for="cups_codigo">Código CUPS<span
                                            style="color:red">*</span></label>
                                </div>
                                <div class="input-field col m6 s12">
                                    <input disabled id="cups_nombre" type="text" class="validate"
                                        value="<%= Factura.cups_nombre %>">
                                    <label for="cups_nombre">CUPS Nombre<span style="color:red">*</span></label>
                                </div>
                                <div class="input-field col m6 s12">
                                    <input disabled id="valor_factura" type="number" min="0" class="validate"
                                        value="<%= Factura.valor_factura %>">
                                    <label for="valor_factura">Valor de la Factura<span style="color:red">*</span></label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">person_pin</i>
                            Datos del Contribuyente
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col m6 s12">
                                    <input id="contribuyente_nombre" type="text" class="validate"
                                        value="<%= Factura.contribuyente_nombre%>">
                                    <label for="contribuyente_nombre">Nombre del Contribuyente<span
                                            style="color:red">*</span></label>
                                </div>
                                <div class="input-field col m6 s12">
                                    <input id="contribuyente_nit" type="text" class="validate"
                                        value="<%= Factura.contribuyente_nit%>">
                                    <label for="contribuyente_nit">NIT del Contribuyente<span
                                            style="color:red">*</span></label>
                                </div>
                                <div class="input-field col m12 s12">
                                    <input id="contribuyente_direccion" type="text" class="validate"
                                        value="<%= Factura.contribuyente_direccion%>">
                                    <label for="contribuyente_direccion">Dirección del Contribuyente<span
                                            style="color:red">*</span></label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">attach_money</i>
                            Generar Factura Pagada
                        </div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col m3 s12">
                                    <input disabled id="valor_pagado" type="number" min="<%= Factura.valor_factura %>"
                                        class="validate"
                                        value="<%= Factura.valor_factura %>">
                                    <label for="valor_pagado">Pagar Factura<span
                                            style="color:red">*</span></label>
                                </div>
                                <div class="input-field col m9 s12 ">
                                    <div class="row">
                                    <% if(!Factura.pagado) { %>
                                        <div class="input-field col m4 s12">
                                            <button class="btn green right" id="pagar_factura">Reportar Pago</button>
                                        </div>
                                        <div class="input-field col m4 s12">
                                            <button class="btn green right" id="solo_guardar">Solo Guardar</button>
                                        </div>
                                    <% } %>
                                        <div class="input-field right">
                                            <a href="/facturas/impresion?factura=<%= Factura._id %>"
                                                class="btn blue right">Imprimir Factura</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<% include  ../../view_distribution/sidebar-right.ejs%>
<% include  ../../view_distribution/bot1.ejs%>
<% include  ../../scripts/convertEJS.ejs%>

<script
    src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.3.0,npm/fullcalendar@5.3.0/locales-all.min.js,npm/moment@2.27.0/min/moment-with-locales.min.js">
</script>
<script>
    const Factura = <%- JSON.stringify(Factura) %>
    $('#solo_guardar').click(function(){
        let contribuyente_nombre = ($('#contribuyente_nombre').val())
        let contribuyente_nit = ($('#contribuyente_nit').val()) || 'CF'
        let contribuyente_direccion = ($('#contribuyente_direccion').val()) || 'Ciudad'
        if (contribuyente_nombre == '' || contribuyente_nombre == ' ') { contribuyente_nombre = 'Consumidor Final' }
        if (contribuyente_nit == '' || contribuyente_nit == ' ') { contribuyente_nit = 'CF' }
        if (contribuyente_direccion == '' || contribuyente_direccion == ' ') { contribuyente_direccion = 'Ciudad' }
       $('#contribuyente_nombre').val(contribuyente_nombre)
       $('#contribuyente_nombre').focus()
       $('#contribuyente_nit').val(contribuyente_nit)
       $('#contribuyente_nit').focus()
       $('#contribuyente_direccion').val(contribuyente_direccion)
       $('#contribuyente_direccion').focus()
       const data = {
           contribuyente_nombre,
           contribuyente_nit,
           contribuyente_direccion
        }
        $.ajax({
            url:`/api/facturas/${Factura._id}?sede=${Factura.Sede}`,
            method: 'PATCH',
            data,
            success: function(r) {
                Materialize.toast('Datos del Contribuyente Guardados con Éxito.', 4000, 'rounded blue')
            },
            error: function(a,b,c) {
                console.log(a,b,c);
                Materialize.toast('Hubo un error al subir el archivo.', 4000, 'rounded red')
            }
       })
    })
    $('#pagar_factura').click(function(){
        let contribuyente_nombre = ($('#contribuyente_nombre').val())
        let contribuyente_nit = ($('#contribuyente_nit').val()) || 'CF'
        let contribuyente_direccion = ($('#contribuyente_direccion').val()) || 'Ciudad'
        if (contribuyente_nombre == '' || contribuyente_nombre == ' ') { contribuyente_nombre = 'Consumidor Final' }
        if (contribuyente_nit == '' || contribuyente_nit == ' ') { contribuyente_nit = 'CF' }
        if (contribuyente_direccion == '' || contribuyente_direccion == ' ') { contribuyente_direccion = 'Ciudad' }
       $('#contribuyente_nombre').val(contribuyente_nombre)
       $('#contribuyente_nombre').focus()
       $('#contribuyente_nit').val(contribuyente_nit)
       $('#contribuyente_nit').focus()
       $('#contribuyente_direccion').val(contribuyente_direccion)
       $('#contribuyente_direccion').focus()
       const pagado_timestamp = moment().utcOffset(-5).unix()
       const data = {
           contribuyente_nombre,
           contribuyente_nit,
           contribuyente_direccion,
           pagado: true,
           valor_pagado: Factura.valor_factura,
           pagado_timestamp
       }
       $.ajax({
            url:`/api/facturas/${Factura._id}?sede=${Factura.Sede}`,
            method: 'PATCH',
            data,
            success: function(r) {
                Materialize.toast('Pago Guardado con Éxito.', 4000, 'rounded green')
            },
            error: function(a,b,c) {
                Materialize.toast('Hubo un error al subir el archivo.', 4000, 'rounded red')
            }
       })
    })
</script>


<% include  ../../view_distribution/bot2.ejs%>