<li class="bold">
  <a href="/" class="waves-effect waves-cyan">
    <i class="material-icons">pie_chart_outlined</i>
    <span class="nav-text">Dashboard</span>
  </a>
</li>

<!-- Link Relacionados con Citas -->
<li class="bold">
  <div class="collapsible-header"><i
      class="material-icons">perm_contact_calendar</i>Citas</div>
  <div class="collapsible-body grey lighten-5">
    <% if (user.Sedes.length > 0) { 
      for (let i = 0; i < user.Sedes.length; i++) {
        const sede = user.Sedes[i]; %>
    <a href="/citas?sede=<%= sede._id %>"
      class="waves-effect collection-item waves-cyan"
      style="padding-left: 20px; width: 95%;">
      <i class="material-icons">class</i>
      <span class="nav-text"><%= sede.nombre %></span>
    </a>
    <% } 
     } else { %>
    <a href="#" class="waves-effect collection-item waves-cyan"
      style="padding-left: 20px; width: 95%;">
      <i class="material-icons">close</i>
      <span class="nav-text">No hay sedes asignadas</span>
    </a>
    <% } %>
  </div>
</li>
<% let historia = 0
for (let h = 0; h < user.Sedes.length; h++) {
    historia = user.Sedes[h].nombre === '2020' ? 1 : 0  
 } %>
<!-- Link Relacionados con Usuarios -->
<% if(historia != 1){ %> 
<li class="bold">
  <div class="collapsible-header"><i
      class="material-icons">insert_chart</i>Formularios</div>
  <div class="collapsible-body grey lighten-5">
    <% if (user.Sedes.length > 0) { 
      for (let i = 0; i < user.Sedes.length; i++) {
        const sede = user.Sedes[i]; %>
    <a href="/formularios?sede=<%= sede._id %>"
      class="waves-effect collection-item waves-cyan"
      style="padding-left: 20px; width: 95%;">
      <i class="material-icons">class</i>
      <span class="nav-text"><%= sede.nombre %></span>
    </a>
    <% } 
     } else { %>
    <a href="#" class="waves-effect collection-item waves-cyan"
      style="padding-left: 20px; width: 95%;">
      <i class="material-icons">close</i>
      <span class="nav-text">No hay sedes asignadas</span>
    </a>
    <% } %>
  </div>
</li>
<% } %>
<% if(historia == 1 && user.roles == 'SP') { %>
  <li class="bold">
    <div class="collapsible-header"><i
        class="material-icons">supervisor_account</i>Practicantes</div>
    <div class="collapsible-body grey lighten-5">
      <% if (user.Sedes.length > 0) { 
        for (let i = 0; i < user.Sedes.length; i++) {
          const sede = user.Sedes[i]; %>
      <a href="/profesionales/practicantes?sede=<%= sede._id %>"
        class="waves-effect collection-item waves-cyan"
        style="padding-left: 20px; width: 95%;">
        <i class="material-icons">class</i>
        <span class="nav-text"><%= sede.nombre %></span>
      </a>
      <% } 
       } else { %>
      <a href="#" class="waves-effect collection-item waves-cyan"
        style="padding-left: 20px; width: 95%;">
        <i class="material-icons">close</i>
        <span class="nav-text">No hay sedes asignadas</span>
      </a>
      <% } %>
    </div>
  </li>

<% } else { %>
  <li class="bold">
    <div class="collapsible-header"><i
        class="material-icons">local_hotel</i><%- historia == 1 ? 'Consultantes' : 'Pacientes' %></div>
    <div class="collapsible-body grey lighten-5">
      <% if (user.Sedes.length > 0) { 
        for (let i = 0; i < user.Sedes.length; i++) {
          const sede = user.Sedes[i]; %>
      <a href="/pacientes?sede=<%= sede._id %>"
        class="waves-effect collection-item waves-cyan"
        style="padding-left: 20px; width: 95%;">
        <i class="material-icons">class</i>
        <span class="nav-text"><%= sede.nombre %></span>
      </a>
      <% } 
       } else { %>
      <a href="#" class="waves-effect collection-item waves-cyan"
        style="padding-left: 20px; width: 95%;">
        <i class="material-icons">close</i>
        <span class="nav-text">No hay sedes asignadas</span>
      </a>
      <% } %>
    </div>
  </li>
<% }  %>
<% if(historia == 1 && user.roles == 'SP'){ %>
  <li class="bold">
    <div class="collapsible-header"><i
        class="material-icons">edit_calendar</i>Admin datos</div>
    <div class="collapsible-body grey lighten-5">
      <% if (user.Sedes.length > 0) { 
        for (let i = 0; i < user.Sedes.length; i++) {
          const sede = user.Sedes[i]; %>
      <a href="/administrarSupervisor?super=<%= user._id %> "
        class="waves-effect collection-item waves-cyan"
        style="padding-left: 20px; width: 95%;">
        <i class="material-icons">class</i>
        <span class="nav-text"><%= sede.nombre %></span>
      </a>
      <% } 
       } else { %>
      <a href="#" class="waves-effect collection-item waves-cyan"
        style="padding-left: 20px; width: 95%;">
        <i class="material-icons">close</i>
        <span class="nav-text">No hay sedes asignadas</span>
      </a>
      <% } %>
    </div>
  </li>
<% }  %>
<% if(historia != 1){ %>
<li class="bold">
  <div class="collapsible-header"><i class="material-icons">settings</i>Configuraciones</div>  
  <div class="collapsible-body grey lighten-5">
    <a href="/configuracion/textConsentimiento" class="waves-effect waves-cyan">
      <i class="material-icons">file_upload</i>
      <span class="nav-text">Texto Consentimiento</span>
    </a>
  </div>
</li>
<% }  %>